.searchIcon {
    height: 1.1vw;
    transform: translateY(0.1vw);
}

.search {
    border: none;
    outline: none;
    background: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    margin-left: 0.2vw;
    width: 15vw;
}

.search-container {
    display: inline-block;
    border-bottom: 2px solid #8270df;
    margin: 1.5vw 1vw 0 2vw;
}
